#logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header {
  display: flex;
  background-color: goldenrod;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

#hamburger-button {
  height: 25px;
  width: 25px;
}

@media (max-width: 350px) {
  header > nav {
    display: none;
  }

  #hamburger-button {
    display: initial;
  }
}
