main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 3ch;
}

main img {
  height: 500px;
  width: 500px;
}

@media (max-width: 400px) {
  main {
    font-size: small;
  }
}

@media (max-width: 300px) {
  main {
    font-size: xx-small;
  }
}
