* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 3ch;
}

main img {
  height: 50%;
  width: 50%;
}
