* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

header img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header {
  display: flex;
  background-color: goldenrod;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
