body {
  background-color: lightgray;
  margin: 0;
}

img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header {
  display: flex;
  background-color: goldenrod;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
